@model IEnumerable<Valence.Commands.OrganizationBinder>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @{ 

        if (model.CanRead())
        {            
            Html.ActionLink("Create New", "Create");           
        }

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Organization.OrganizationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.WebPageUrl)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.IsServicesVendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.IsProductVendor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.IsNonProfit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Organization.IsEducational)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.OrganizationName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.WebPageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.IsServicesVendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.IsProductVendor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.IsNonProfit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Organization.IsEducational)
        </td>
        <td>
            @{
                int LinkCount = 0;

                if (item.Actions.CanUpdate())
                {
                    Html.ActionLink("Edit", "Edit", new { id = item.Organization.OrganizationId });
                    LinkCount++;
                }

                if (item.Actions.CanRead())
                {
                    if (LinkCount > 0) { Html.Display(" | "); }
                    Html.ActionLink("Details", "Details", new { id = item.Organization.OrganizationId });
                    LinkCount++;
                }


                if (item.Actions.CanDelete())
                {
                    if (LinkCount > 0) { Html.Display(" | "); }
                    Html.ActionLink("Delete", "Delete", new { id = item.Organization.OrganizationId });
                }
            }

        </td>
    </tr>
}

</table>
